<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
		<meta name="format-detection" content="telephone=no">
		<meta name="baidu-site-verification" content="szjdG38sKy" />
		<meta name="keywords" content="Soda, 酷到有朋友">
		<meta name="description" content="Soda, 酷到有朋友">
		<link rel="apple-touch-icon-precomposed" href="https://soda-cover.oss-cn-shanghai.aliyuncs.com/icon.png">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="default">

		<meta property="og:title" content="Soda, 酷到有朋友" />
		<meta property="og:description" content="Soda, 酷到有朋友" />
		<meta property="og:url" content="https://app.soulink.com.cn/" />
		<meta property="og:image" content="https://soda-cover.oss-cn-shanghai.aliyuncs.com/icon.png"/>

		{% block title %}
		<title>Soda苏打 - 酷到有朋友</title>
		{% endblock %}
		<meta name="screen-orientation"content="portrait">
		<meta name="x5-orientation"content="portrait">
		<meta name="theme-color" content="#161823">
		<meta name="pathname" content="soda">
		<link rel="shortcut icon" href="https://soda-cover.oss-cn-shanghai.aliyuncs.com/icon.png" type="image/x-icon" />

		{% block head %}
		{% endblock %}
	</head>

	<body>
		{% block body %}
		{% endblock %}
	</body>
</html>
